
@{
    ViewBag.Title = "Show";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>

        <div>Teacher ID: @ViewBag.singleTeacher.TeacherId</div>
        <div>First Name: @ViewBag.singleTeacher.FName</div>
        <div>Lastt Name: @ViewBag.singleTeacher.LName</div>
        <div>Hire date: @ViewBag.singleTeacher.Hiredate</div>
        <div>Salary: @ViewBag.singleTeacher.Salary</div>
    </div>
</body>
</html>

